<h1>Add a Restaurant Review</h1>
<p>Find me in app/views/reviews/new.html.erb</p>

<%= form_for user_reviews_path do |f| %>
  <%= f.label :restaurant, "Choose Restaurant:" %> <br>
  <%= f.collection_select :restaurant_id, Restaurant.all, :id, :name %>
<% end %>
